@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-900 text-gray-100;
    }
}

@layer components {

    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        @apply w-2;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-800;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-600 rounded-full hover:bg-gray-500;
    }
}